* {
  font-family: "Helvetica", sans-serif;
  margin: 0;
}

.header{
  margin: 10px;
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.header-brand {
  margin: 0;
  height: 100%;
  font-size: 34px;
  color: #003366;
  font-weight: 800;
}

.header-links {
  height: 100%;
}

img {
  max-height: 80%;
  margin: 0 1px 0 1px;
}

h1 {
  text-align: center;
  font-size: 70px;
  text-wrap: balance;
  padding: 20px;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  margin-top: 0;
  font-size: 18px;
  color: #003366;
  padding: 0 20px;
  font-weight: 500;
}

.title-action {
  text-align: center;
  margin: 50px;
}

#get-started-button {
  padding: 15px;
  font-size: 18px;
  margin: 0 20px;
  border: none;
  background-color: #004080;
  color: white;
  font-weight: 500;
  border-radius: 5px;
}

#get-started-button:hover {
  opacity: 80%;
  cursor: pointer;
}

#get-started-button:active {
  opacity: 60%;
}

#learn-more-button {
  padding: 15px;
  font-size: 18px;
  margin: 0 20px;
  border: none;
  background-color: white;
  text-decoration: underline;
}

#learn-more-button:hover {
  opacity: 80%;
  cursor: pointer;
}

#learn-more-button:active {
  opacity: 60%;
}

.learn-more-section {
  background-color: #001f3f;
  padding: 50px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 50px;
}

.learn-more-header {
  color: white;
  text-align: center;
  margin: 12px;
}

.learn-more-description {
  color: white;
  margin: 10px;
  font-weight: 300;
}

.summary {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 18px;
}

.learn-more-text {
  padding: 0 50px;
}

.learn-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.description-img {
  max-width: 100%; 
  max-height: 300px;
}

.footer {
  padding: 20px;
  background-color: #003366;
  color: white;
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.copyright {
  display: grid;
  align-items: center;
}

.footer-links {
  max-height: 100%;
}
