* {
  font-family: "Helvetica", sans-serif;
}

.header{
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.header-brand {
  margin: 0;
  height: 100%;
  font-size: 35px;
  color: #003366;
  font-weight: 800;
}

.header-links {
  height: 100%;
}

img {
  max-height: 80%;
  margin: 0 1px 0 1px;
}

h1 {
  text-align: center;
  font-size: 70px;
  text-wrap: balance;
  padding: 20px;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  margin-top: 0;
  font-size: 18px;
  color: #003366;
  padding: 0 20px;
  font-weight: 500;
}

.title-action {
  text-align: center;
  margin: 50px;
}

#get-started-button {
  padding: 15px;
  font-size: 18px;
  margin: 0 20px;
  border: none;
  background-color: #004080;
  color: white;
  font-weight: 500;
}

#get-started-button:hover {
  opacity: 80%;
  cursor: pointer;
}

#get-started-button:active {
  opacity: 60%;
}

#learn-more-button {
  padding: 15px;
  font-size: 18px;
  margin: 0 20px;
  border: none;
  background-color: white;
  text-decoration: underline;
}

#learn-more-button:hover {
  opacity: 80%;
  cursor: pointer;
}

#learn-more-button:active {
  opacity: 60%;
}